# Environment Variables
.env
.env.example

# Video files
*.mp4

# Output files
stats.json

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp

# System
.DS_Store

# Virtual Env
.venv/
venv/

# Results and Cache
results_*/
test*/
*.json
!match_context.json
!GerIsl.json
!JapArg.json

# Image/Video parts
*.part
*.png
cookies.txt
